Makefile
/commit.sh
/bootstrap.sh
logfile.out
config.log
configure.orig
config.h
stamp-h1
.libs
.deps
autom4te.cache
/autom4te.cache
gmon.out
libwchar2.pc
*~
"test/test-\342\202\254-\342\202\254.txt"
/test/test-*.txt
/test"/test-€-€.txt"
/test/check_wchar2
/test/wchar2test
/example/*.txt
/test/core.*
/example/fs-redifine.libc
/example/fs-redifine.wchar2

!/example/Makefile
!/example/CMakeLists.txt
!/example/TinyDir-Wchar2/Makefile
!/winext/cmake-build-debug.cmd
!/winext/cmake-build-release.cmd

/docs/mansrc
/build/doxymd

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
