docs/* linguist-documentation
build/* linguist-vendored
*.sh linguist-vendored
libtool linguist-generated=true
confugure linguist-generated=true
config.status linguist-generated=true
*.c linguist-language=C
*.h linguist-language=C
